body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

h1{
    color: aliceblue;
}
h3{
    color: rgb(255, 87, 26);
}

h2 {
    color: #000000;
}

section {
    max-width: 800px;
    margin: 2em auto;
    padding: 0 20px;
}

.project-card {
    position: relative;
    width: 400px;
    height: 220px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.proj {
    display: flex;
    gap: 30px;
}

.project-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s, transform 0.3s;
}

.project-card:hover .project-description {
    opacity: 1;
    transform: translateY(0);
}

.project-card.active .project-description {
    opacity: 1;
    transform: translateY(0);
}

.project-details {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.project-details h2 {
    margin-bottom: 10px;
}

.project-details button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}


.resume_btn{
    padding:3px;
    border-radius: 3px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    display: block;
    width: 115px;
    height: 25px;
    text-align: center;
    font-weight: bold;
    line-height: 25px;
}