body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.total {
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.timer {
    margin-bottom: 20px;
}

.timer h1 {
    color: #333;
}

label {
    font-weight: bold;
}

input[type="text"] {
    padding: 10px;
    margin: 5px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #00ff0d;
    border-radius: 5px;
}

.in {
    background-color: #f9f9f9;
}

.restart_button,
.submit_button {
    padding: 10px;
    margin: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.restart_button:hover,
.submit_button:hover {
    background-color: #45a049;
}

.score_out {
    margin-top: 20px;
}

.score_output {
    font-weight: bold;
    color: #333;
}
